node_modules/
unpackage/
.hbuilderx/
.DS_Store

# ====================== uni-app 编译产物 必忽略 ======================
unpackage/
dist/
build/
compile/
.hbuilderx/

# ====================== NPM依赖 ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/

# ====================== 编辑器本地配置 ======================
.vscode/
.idea/
.project
.classpath
.cproject
.settings/
*.iml

# ====================== 系统缓存文件 ======================
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp

# ====================== 环境变量&敏感配置（按需） ======================
.env*
*.local
config/local.config.js

# ====================== uniCloud云函数（不用云函数可删掉） ======================
cloudfunctions/**/node_modules/
cloudfunctions/**/dist/